body {
    background-color: #fafafa;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    position: relative;
}

header a {
    position: absolute;
    right: 23px;
    font-size: large;
}

a {
    text-decoration: none;
    color: black;
}
